build/classes/ficha0_dsa/Complexo.class
*.class
build/classes/.netbeans_update_resources
build/test/classes/.netbeans_automatic_build
build/test/classes/.netbeans_update_resources
nbproject/private/config.properties
nbproject/private/private.properties
build/classes/.netbeans_automatic_build
